html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #344E41;
}
header{
    box-sizing: border-box;
    width: 100%;
    background-color: #d9d0b2;
    display: grid;
    grid-template-columns: 10% 18% 10% 52% 10%;
}
#logo{
    margin-left: 10px;
    height: 16vh;
}
.nav{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 550;
    font-size: x-large;
    height: 16vh;
}

.time-date{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-box{
    padding-left: 6%;
    padding-right: 2%;
    height: 5.5vh;
    width: 40vw;
    border-radius: 5px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: large;
}
#search-btn{
    margin: 0;
    padding: 0;
    height: 5vh;
    width: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    right: 53.4%;
    transition: all 0.1s ease-out;
}
#search-btn:hover{
    cursor: pointer;
    background-color: #dadada;
}
#search-btn-img{
    height: 4vh;
}

#item-select{
    background-color: #fefae0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 8vw;
    height: 8vh;
}
#item-select:hover{
    cursor: pointer;
}
#item-select > a{
    text-decoration: none;
    color: black;
}
#item{
    background-color: #A3B18A;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 8vw;
    height: 8vh;
    transition: all 0.3s ease-out;
}
#item:hover{
    cursor: pointer;
    background-color: #90a36f;
    color: #fefae0;
    box-shadow: 3px 2px 3px #344E41;
}
#item > a{
    text-decoration: none;
    color: black;
}
.login{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: larger;
    font-weight: 400;
}
.login > a{
    text-decoration: none;
    color: black;
}
#user{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 5vw;
    height: 5vh;
    border: 1px solid black;
    background-color: #A3B18A;
    transition: all 0.3s ease-out;
}
#user:hover{
    cursor: pointer;
    background-color: #fefae0;
}
#user-icon{
    height: 3vh;
}
#filter-icon{
    height: 5vh;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}
#opt{
    padding: 5px;
    position: absolute;
    right: 4%;
    top: 15%;
    height: 11vh;
    width: 8vw;
    display: grid;
    justify-content: center;
    text-align: center;
    border-radius: 2px;
}
#opt > a{
    display: none;
    width: 8vw;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-out;
}
#opt > a:hover{
    background-color: rgb(191, 201, 210);
}
#filter-icon:hover{
    cursor: pointer;
    border: 1px solid black;
}
#filter:hover #opt{
    display: block;
    background-color: aliceblue;
}
#filter:hover a{
    display: block;
}

main{
    margin: auto;
    margin-top: 1%;
    padding: 1%;
    display: flex;
    width: 95.5%;
    height: 100%;
    overflow-y: scroll;
}
main::-webkit-scrollbar{
    display: none;
}
.news{
    width: 70%;
    /* border: 1px dotted black; */
}
#news-list{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
}
#news-items{
    margin-bottom: 1%;
    width: 100%;
    height: 40%;
    border-radius: 5px;
    background-color: #fefae0;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto auto;
}
#thumb{
    margin: 0;
    padding: 1px;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
    width: 26vw;
    height: 35vh;
    border: 2px solid #344E41;
    border-radius: 5px;
}
#headline{
    margin: 3%;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: xx-large;
}
#headline > a{
    color: black;
}
#summary{
    margin: 3%;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: large;
    color: rgb(126, 126, 126);
}
.trending{
    margin-left: 20px;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    width: 42vw;
}
.trending > p{
    margin: 0;
    padding: 0;
    font-size: 6vh;
    color: #e3dfc2;
}
#trend-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    row-gap: 10px;
    font-size: large;
}
#trend-items{
    padding: 10px;
    background-color: #fefae0;
    text-align: left;
    border-radius: 5px;
    height: 5vh;
    display: grid;
    align-content: center;
    transition: all 0.1s ease-out;
}
#trend-items:hover{
    cursor: pointer;
    background-color: #fefae0d2;
}
#trend-list > a{
    text-decoration: none;
    color: black;
}

footer{
    margin: auto;
    margin-top: 1%;
    padding: 0;
    width: 98%;
    height: 15%;
    background-color: #d9d0b2c9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Changa", sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: #fefae0;
}
h3{
    text-align: center;
}